<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        div {
          background-color: rgb(68, 250, 226);
        }
        </style>
    <div class="main">
        <h2 style="color:red;">Django MCQ questions</h2>
        {% for data in dataset %}.
        <h3>{{ data.sl_no }}</h3> <br/>
        <h3>{{ data.question_text }}</h3><br/>
        <hr/>
        {% endfor %}
       
          
    </div>
</body>
</html>